/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

$col: 58px;
$gut: 16px;
$cols: ($col + $gut);
$row: 180px;
$rows: ($row + $gut);

body {
	text-align: center;
	margin: 0;
    border-top: 6px solid #000
}
div:first-child {
    width: 33px;
    height: 46px;
    position: absolute;
    top: 0;
    left: 50%;
    a {
        background: url("img/contact_tab.png") 0 0;
        display: block;
        width: 33px;
        height: 46px;
        position: relative;
        top: 0;
        left: 436px;
        z-index: 9999
    }
}
.selected_item {
    position: absolute;
    top: 0;
}
header {
    padding-top: $row / 6;
    padding-left: $cols*2 - $gut;
    padding-right: $cols*2 - $gut;
    padding-bottom: $row / 3;
    position: relative;
    nav {
        position: relative;
        .home_link {
            display: block;
            position: absolute;
            width: 200px;
            height: 58px;
            left: 50%;
            top: $row/8;
            img {
                position: absolute;
                left: -50%;
                top: 0;
                width: 200px;
                height: 58px;
            }
        }
        .top_nav {
            .group_a {
              clear: both;
              float: left;

            }
            .group_b {
              text-align: right;
            }
            li {
                position: relative;
                padding: 8px 0 2px 0;
                a {
                    width: 122px;
                    display: inline-block;
                    text-decoration: none;
                    border-bottom: 1px dashed #000;
                    position: relative;
                    z-index: 99999;

                }
            }
        }
    }
 
}
#container {
	text-align: left;
	margin: 0 auto;
	width: ($cols * 12) - $gut ;
	box-shadow: 0 0 0 1px #000
}
footer {
    border-top: 1px solid #000;
    padding-top: $gut;
    padding-bottom: $gut * 2;
    font-size: 11px;

    p {
        padding-top: 6px;
        padding-bottom: 6px;
        float: right;

        img {
            padding-right: $gut;
            border-right: 1px solid #000;
            margin-right: $gut;
        }
    }
    p:first-child {
        float: left;
    }
    ul {
        float: left;
        margin-left: $gut / 2;
        li {
            float: left;
            margin-left: $gut / 2;
            a {
                height: 24px;
                width: 24px;
                display: block;
                overflow: hidden
            }
            &.facebook {
                background: url("img/footer_sprites.png") 24px;
            }
            &.pinterest {
                background: url("img/footer_sprites.png") 24 * 2px;
            }
            &.instagram {
                background: url("img/footer_sprites.png") 24 * 3px;
            }
        }
    }
}